*{
  margin: 0;
  padding: 0;
  box-sizing: border-box  ;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
section {
  padding: 70px 0px;
}
.bg {
  /* background-image: url(/assets/images/misc/bg-pattern1.png); */
  background-color:#EFEFEF;
}
/* button START  */
button img {
  width: 22px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  margin: 10px 0px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #3f1300;
  border-color: #3f1300;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #3f1300;
  border-color: #3f1300;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: ed1a27;
  border-color: ed1a27;
  /* box-shadow:0 0 0 .25rem rgba(49,132,253,.5) */
}
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: ed1a27;
  border-color: ed1a27;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #3f1300;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #3f1300;
  border-color: #3f1300;
}
.overview-btn {
  cursor: pointer;
  color: #fff;
  background-color: #3f1300;
  padding: 2px 10px;
  border-radius: 12px;
  margin-top: 10px;
  font-size: 17px;
}
.btn-close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 13px;
  padding: 11px;
  background-color: #fff;
}

/* button end  */

.header-title h6 {
  color: #3f1300;
  font-size: 30px !important;
  text-transform: uppercase !important;
}
.heading {
  font-size: 30px;
  color: #3f1300;
  text-transform: uppercase !important;
}
.header-title .underline {
  border-bottom: 4px solid #3f1300;
  margin-bottom: 40px !important;
  width: 77px;
  margin: 0 auto;
}

/* form start  */

.form-check {
  height: 50px;
  border-radius: 12px;
  color: #3f1300;
  background: unset;
}

.form-check-input {
  width: 2em;
  height: 2em;
  color: #1f0c04;
  border-radius: 12px !important;
  margin: 0.5em 0em 0.5em -0.5em !important;
}

.form-check-label {
  position: absolute;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 2;
  text-transform: uppercase;
}
.form-check-input:checked {
  background-color: #760000;
}

#mainForm input[type="text"],
#mainForm input[type="email"],
#mainForm input[type="number"],
#popupForm input[type="text"],
#popupForm input[type="email"],
#popupForm input[type="number"] {
  height: 50px;
  border-radius: 12px;
  color: #000000;
  background: unset;
  border: 3px solid #000000;
}

#mainForm input::placeholder,
#popupForm input::placeholder {
  color: white;
  opacity: 1;
}

#mainForm input:-ms-input-placeholder,
#popupForm input:-ms-input-placeholder {
  color: white;
}

#mainForm input::-ms-input-placeholder,
#popupForm input::-ms-input-placeholder {
  color: white;
}

/* form End  */

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #3f1300;
  box-shadow: inset 0 -1px 0 rgb(255 190 190 / 13%);
}
.accordion-button:focus {
  z-index: 3;
  border-color: #fe8686;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(253 13 13 / 25%);
}

.nav-pills {
  margin: auto;
  width: fit-content;
  margin-bottom: 1rem;
}

.nav-pills .nav-link {
  color: #3f1300;
  background-color: unset;
  border: 1px #3f1300 solid;
  border-radius: 12px;
  margin-right: 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #3f1300;
  color: #fff;
}

.owl-nav {
  text-align: center;
  margin-top: 10px;
}

.owl-nav > button > span {
  background: #3f1300;
  color: #fff;
  padding: 10px;
  font-size: 40px;
  line-height: 24px;
  margin: 5px;
}

.overlay {
  height: 300px;
}

.navbar-logo {
  width: 200px;
  height: auto;
}

.navbar-nav {
  width: fit-content;
  float: right;
}

.navbar-nav > li {
  border-right: 1px solid #3f1300;
}

.navbar-nav > li > a {
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  color: #3f1300;
  text-decoration: unset;
}

.dropdown-item {
  padding: 6px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: unset;
  background-color: unset;
  text-decoration: unset;
}

.navbar-collapse::-webkit-scrollbar {
  display: none;
}

.navbar-collapse {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contact-number {
  font-size: 20px;
  font-weight: 500;
  text-align: end;
  margin-bottom: 10px;
}

.contact-number > a {
  color: #3f1300;
  text-decoration: unset;
}

.developer-logo {
  border-left: 1px solid #e6e6e6;
  padding-left: 10px;
}

.developer-logo > a > img {
  width: 170px;
  height: 50px;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("/assets/images/misc/menu.svg");
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("/assets/images/misc/close.svg");
}

#slider {
  margin-top: 55px;
  height: 89.5vh;
}

.slider-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 89.5vh;
}

.offer {
  position: absolute;
  top: 98px;
  left: 14px;
  width: 350px;
  border: 1px solid #ffffff;
  border-radius: 14px;
  background-color: #bba06d;
    z-index: 999;
    box-shadow: 0px 0px 50px 31px rgba(187, 187, 187, 0.644);
}

.offer-header {
  background: #ffffff;
  width: 225px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  padding: 5px;
  
  margin: 15px auto;
}

.project-subtitle {
  font-size: 14px;
  line-height: 25px;
}







.offer-pop {
  color: #000000;
  display: block;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 10px;
  background-color: #d1ba6e;
  background: -o-linear-gradient(-45deg, #F2CD88, #e6a78c, #ab603f, #F2CD88);
  background: linear-gradient(-45deg, #F2CD88, #dbb63a, #F2CD88, #F2CD88);
  background-size: 400% 400%;
  -webkit-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.offer-price {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
}

.offer-rera-no {
  font-size: 14px;
  margin: 15px 0;
}

.offer-book-online {
  font-size: 16px;
  margin: 20px 0;
  font-weight: 700;
}

#overview p {
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 2rem;
}

.heighlight-container {
  background-image: url(bg-pattern.png);
  background-color: #808080;
}

.content {
  float: left;
  padding: 15px;
  position: relative;
  width: 100%;
}

.content .info p,
.content .info a {
  font-size: 16px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 10px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table-bordered > tbody > tr > td {
  border: 1px solid #9a9999;
  font-size: 16px;
  font-weight: 500;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

#gallery .card {
  border-radius: 15px;
  /* border: 3px solid rgba(0, 0, 0, 1); */
}

#gallery a {
  color: #fff;
  text-decoration: unset;
}

.gallery-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 12px;
}

#gallery h5 {
  background: #3f1300;
  color: #fff;
  text-align: center;
  margin: unset;
  padding: 6px;
}
.tab-pane {
  border-radius: 15px !important;
}
#location .accordion-body ul,
#location .card ul {
  list-style: none;
  padding-left: 15px;
  margin-top: 15px;
  height: 170px;
}

#location .accordion-body li,
#location .card li {
  margin-bottom: 5px;
}

#location .accordion-body li:before,
#location .card li:before {
  content: "\f111";
  margin-right: 10px;
}

#location .card {
  background-color: transparent;
}

.location-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}

#location h5 {
  background: #3f1300;
  color: #fff;
  text-align: center;
  margin: unset;
  padding: 10px;
}

#plan .card {
  border-radius: 15px;
  border: none;
  /* border: 0.1px solid rgba(0, 0, 0, 1); */
}

#plan a {
  color: #fff;
  text-decoration: unset;
}

.plan-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
}

#plan h5 {
  background: #3f1300;
  color: #fff;
  text-align: center;
  margin: unset;
  padding: 6px;
}

#price .card {
  border-radius: 12px;
  /* border: 3px solid rgba(0, 0, 0, 1); */
}

.price-image {
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
}

.subscribe-title {
  color: #fff;
  font-size: 35px;
  line-height: 60px;
  font-weight: 500;
  padding: 15px;
  margin: unset;
}

.amenities-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 450px;
  border-radius: 12px;
}

#amenities .owl-dots {
  position: absolute;
  right: 25px;
  top: 25px;
}

#amenities .owl-dot {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  padding: 4px 15px;
  border-radius: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: fit-content;
  margin-left: auto;
}

#amenities .owl-dot.active {
  color: deepskyblue;
}

#amenities .owl-dot dl,
#amenities .owl-dot ol,
#amenities .owl-dot ul {
  margin-bottom: unset;
  padding-left: 15px;
}

.contact-sales-container .project-logo img {
  margin: 0 auto 25px;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive {
  display: block;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}

.contact-sales-container .info p {
  padding-left: 35px;
  line-height: 24px;
  text-align: left;
}

a {
  color: #3f1300;
  text-decoration: none;
}

.contact-sales-container .info .glyphicon {
  color: #3f1300;
}

.contact-sales-container .info .glyphicon {
  color: #3f1300;
  float: left;
}

#contactForm .form-check {
  color: #3f1300;
  /* border: 3px solid #3f1300; */
}

#contactForm .form-check-input {
  border: 3px solid #3f1300;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

.contact-sales-container .footer-phone a {
  color: #3f1300;
}

.contact-sales-container .footer-phone {
  font-size: 20px;
  font-weight: 400;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: unset;
  background-color: #7c6b4c;;
  border-radius: 12px;
}

.modal-body img {
  width: 200px;
  margin: auto;
  padding: 6rem 1rem 2rem;
}
.modal-highlights {
  margin: 0px;
  padding: 10px;
  font-size: 1.2rem;
  color: #fff;
  background: #74561ec2;
}
.modal-centertext {
  margin: 0px;
  padding: 5px;
  font-size: 1.2rem;
  /* background: #3f1300; */
}
.form-control {
  margin-bottom: 20px;
  border: 2px solid #ff4d00;
}

.modal-content .modal-body .offer h3 {
  background: #9ad;
}

.modal-content .modal-body .offer h3,
.modal-content .modal-body .offer h4
 {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  line-height: 30px;
  padding: 5px;
}

.pform {
  padding: 0px 30px 30px 30px;
}

.image-container {
  background-image: url(/assets/images/banner/avenueEleven.webp);
  height: 223px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-sales-container {
  background-image: url(../bg-pattern.png);
  background-color: #e8f3fc;
}

#contact-sales .info a img {
  width: 350px;
  height: 90px;
}

footer {
  padding: 25px 0;
  text-align: center;
}

.overview-container,
.features-container,
.amenities-container,
.plans-container,
.plans-container,
.about-developer,
footer {
  background-color: #fff;
}

footer .rera-container {
  color: #9c9c9c;
  margin: 0 15px 25px;
  display: block;
}

/* .rera-container img {
        width: 100px;
    } */

footer .disclaimer {
  margin-bottom: 25px !important;
}

footer .disclaimer {
  color: #9c9c9c;
  margin-bottom: 50px;
  padding: 0 15px;
}

footer .leagal {
  margin-bottom: 10px;
}

footer .leagal a {
  color: #3f1300;
  font-weight: 600;
}

a:focus,
a:hover {
  color: #3f1300;
  text-decoration: underline;
}

a:active,
a:hover {
  outline: 0;
}

#mainForm .form-control {
  margin-bottom: 20px;
  border: 3px solid #3f1300;
  background: unset;
}

.form-control:focus {
  color: #3f1300;
  background-color: unset;
  border-color: unset;
  outline: 0;
  box-shadow: unset;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm input[type="number"] {
  height: 50px;
  border-radius: 12px;
  color: #3f1300;
  border: 3px solid #3f1300;
  background-color: unset;
}

#contactForm input::placeholder {
  color: #3f1300;
  opacity: 1;
}
.form-check-input:checked {
  background-color: #3f1300;
  /* border-color:#760000 */
}
#contactForm input:-ms-input-placeholder {
  /* color: #204d74; */
}

#contactForm input::-ms-input-placeholder {
  /* color: #204d74; */
}

.fixed-footer-mobile .phone {
  background-color: #3f1300;
  text-align: center;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  height: 40px;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  line-height: 40px;
}

.fixed-footer-mobile img {
  height: 40px;
}

.fixed-footer-mobile a {
  text-decoration: none;
  color: #ffffff;
}

.fixed-footer-mobile {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  bottom: 0px;
  z-index: 999;
}

#carouselExampleControls {
  width: 100%;
}

.main-form {
  width: 350px;
  position: absolute;
  right: 31px;
  top: 98px;
  background-color: #bba06d;
  z-index: 999;
  border-radius: 12px;
  height: 61vh;
}

.modal-content {
  border: unset;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  text-transform: uppercase;
  font-size: 13px;
}

.video-bg {
  background-image: url();
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-content {
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 30px;
  letter-spacing: 2px;
}

.video-content img {
  width: 60px;
  margin: 15px;
}

.owl-carousel .owl-stage {
  margin: auto;
}

/* .owl-stage-outer {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px 2px;
    border-radius: 14px;
    } */

.owl-nav > button > span {
  background: unset;
  color: #3f1300 !important;
}

.rera-barcode img {
  width: 80px;
  height: 80px;
  position: relative;
}

.cp img {
  width: 200px;
  height: 90px;
  position: relative;
}
.main-video {
  width: 95% !important;
  height: 500px !important;
}
@media (max-width: 1380px) {
  .slider-image {
    height: 108vh !important;
  }
  .main-form {
    height: 70vh !important;
  }
}
@media (min-width: 1301px) and (max-width: 1350px) {
  .navbar-nav > li > a {
    font-size: 12px;
    width: 100%;
  }

  .owl-nav > button > span {
    background: unset;
    color: #3f1300 !important;
  }
}

@media (min-width: 1251px) and (max-width: 1300px) {
  .navbar-nav > li > a {
    font-size: 11px;
    width: 100%;
  }

  .owl-nav > button > span {
    background: unset;
    color: #3f1300 !important;
  }
}

@media (min-width: 1201px) and (max-width: 1250px) {
  .navbar-nav > li > a {
    font-size: 10px;
    width: 100%;
  }

  .owl-nav > button > span {
    background: unset;
    color: #3f1300 !important;
  }
}

@media (max-width: 1200px) {
  .owl-nav > button > span {
    background: unset;
    color: #3f1300 !important;
  }

  #contact-sales .info a img {
    width: 18rem;
  }

  .call-icon > a > img {
    width: 60px;
  }

  .navbar-nav {
    width: 100%;
    float: unset;
    text-align: center;
  }

  .navbar-nav > li {
    border-right: unset;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
  }

  .dropdown-menu {
    border: unset;
  }

  .navbar-collapse {
    overflow-y: scroll;
    overflow-x: unset;
    height: 600px;
  }

  #slider {
    height: auto;
  }

  .slider-image {
    height: auto;
  }

  #carouselExampleControls {
    width: 100%;
  }

  .main-form {
    width: 100%;
    background-color: #3f1300;
    height: auto;
    display: none;
  }

  .offer-header {
    margin: 0px auto 10px;
  }

  .offer {
    position: unset;
    top: unset;
    left: unset;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(141, 105, 39, 0.9);
    z-index: 999;
    padding: 10px 0px;
  }
  
/* .offer-pop{
  text-align: center;
} */
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  #slider {
    height: auto;
  }

  .slider-image {
    height: 55vh;
  }

  #carouselExampleControls {
    width: 100%;
  }

  .main-form {
    width: 100%;
  }

  .main-form {
    background-color: #191919;
    height: auto;
    display: none;
  }

  #amenities .owl-dot {
    font-size: 10px;
  }

  .amenities-image {
    height: 50vh;
  }

  .gallery-image {
    height: 30vh;
    border-radius: 12px;
  }

  .subscribe-title {
    font-size: 21px;
    text-align: center;
    padding: 0px 15px;
  }

  #contact-sales .info a img {
    width: 350px;
  }

  .offer-header {
    margin: 0px auto 10px;
  }

  .offer {
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    background-color:#f2cd88a4;
    z-index: 999;
    padding: 10px 0px;
  }

  .owl-nav > button > span {
    background: unset;
    color: #3f1300 !important;
  }
}

@media (max-width: 576px) {
  .call-icon > a > img {
    width: 60px;
  }

  .navbar-nav {
    width: 100%;
    float: unset;
    text-align: center;
  }

  .navbar-nav > li {
    border-right: unset;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
  }

  .slider-image {
    height: 35vh;
  }

  #amenities .owl-dot {
    margin-bottom: 15px;
  }

  #location .nav-pills .nav-link {
    margin-bottom: 10px;
    padding: 10px;
  }

  .owl-nav > button > span {
    background: unset;
    color: #3f1300 !important;
  }

  .pform {
    padding: unset;
  }

  .form-check-label {
    padding: 10px 8px;
  }

  .navbar-expand-sm .navbar-nav .dropdown-menu {
    text-align: center;
    border: unset;
  }

  .navbar-expand-sm .navbar-nav .dropdown-menu li {
    border-bottom: 1px solid #dadada;
    padding: 5px 0px;
  }
  .modal-highlights {
    font-size: 1rem;
  }
  .modal-centertext {
    font-size: 1rem;
  }
  .main-video {
    width: 95% !important;
    height: 300px !important;
  }
  .video-bg {
    background-image: url();
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 420px) {
  #slider {
    margin-top: 60px;
  }

  .call-icon > a > img {
    width: 3em;
  }

  .navbar-logo {
    width: 180px;
    height: 50px;
  }

  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }

  .nav-pills .nav-link {
    padding: 5px;
    margin-bottom: 0px;
    font-size: 10px;
  }
}
.cp img {
  width: 200px;
  height: 90px;
  position: relative;
}
.nri {
  margin-left: -50px !important;
}

@media (max-width: 576px) {
  .highlight-img {
    height: 300px !important;
  }
}



/* Base */
.btn-floating:hover img {
  margin-bottom: -3px
}

.btn-floating {
    position: fixed;
    right: 25px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    align-content: center;
    border: 0;
    z-index: 9999;
    color: white;
    transition: .2s;
}

.btn-floating:hover {
    width: auto;
    padding: 0 20px;
    cursor: pointer;
}

.btn-floating span {
    font-size: 16px;
    margin-left: 5px;
    transition: .2s;
    line-height: 0px;
    display: none;
}

.btn-floating:hover span {
    display: inline-block;
}

/* Phone */
.btn-floating.phone {
    bottom: 150px;
    background-color: #3f1300;
}

.btn-floating.phone:hover {
    background-color: #c03421;
}

/* WhatsApp */
.btn-floating.whatsapp {
    background-color: #34af23;
    bottom: 95px;
}

.btn-floating.whatsapp:hover {
    background-color: #1f7a12
}


.rupee{
  font-size: 25px;
  /* background: linear-gradient(to top, rgb(240, 240, 240), rgb(57, 196, 52));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */
  font-weight: 700;
  color: #3f1300;
}





@keyframes border-blink {
  0% { border-color: rgb(243, 207, 5); }
  50% { border-color: transparent; }
  100% { border-color: rgb(190, 147, 6); }
}

@keyframes border-move {
  0% { box-shadow: 0 0 0 0 rgba(255, 208, 0, 0.7); }
  50% { box-shadow: 0 0 10px 5px rgba(209, 173, 14, 0.7); }
  100% { box-shadow: 0 0 0 0 rgba(199, 154, 32, 0.7); }
}

.offer-pop {
  padding: 20px;
  border: 2px solid red;
  animation: border-blink 1.5s infinite, border-move 3s infinite;
  display: inline-block;
}

.animated {
  animation: bounceIn 2s;
}

@keyframes bounceIn {
  0% {
      opacity: 0;
      transform: scale(0.3) translateY(-2000px);
  }
  60% {
      opacity: 1;
      transform: scale(1.05) translateY(30px);
  }
  80% {
      transform: scale(0.9) translateY(-10px);
  }
  100% {
      transform: scale(1) translateY(0);
  }
}




  .project-title b{
    font-size:30px;
  }

  .header-title-price .underline {
    border-bottom: 4px solid #3f1300;
    margin-bottom: 40px !important;
    width: 77px;
    margin: 0 auto;
  }